Queryable/Queryable.xcodeproj/project.xcworkspace/xcuserdata
Queryable/Queryable.xcodeproj/xcuserdata
Queryable/Queryable/CoreMLModels/ImageEncoder_float32.mlmodelc
Queryable/Queryable/CoreMLModels/TextEncoder_float32.mlmodelc
